body {
  font-family: sans-serif;
  line-height: 1.5;
  border: 10px solid black;
  padding: 20px;
}

h1 {
  padding: 20px;
  background: red;
  border: 10px solid black;
}

p {
  color: white;
  background: blue;
  padding: 20px;
  border: 10px solid black;
}

code {
  color: black;
  background: white;
  padding: 2px 5px;
  border: 1px solid black;
}
